p.figure-caption {
  text-align: center;
  opacity: 0.6;
  font-size: 87.5%;
  margin-top: -14px;
  font-style: italic;

  width: fit-content;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ccc;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 7px;
}

hr.divider {
  border: none;
  font-size: 150%;
  letter-spacing: 0.6em;
  margin-bottom: 42px;
  text-align: center;
}

hr.divider::before {
  content: "...";
}

[data-reach-skip-nav-link] {
  display: none;
}

@media screen and (min-width:40em){
  h1 > a {
    font-size: 32px;
  }
}
