p.figure-caption {
  text-align: center;
  opacity: 0.6;
  font-size: 87.5%;
  margin-top: -14px;
  font-style: italic;

  width: fit-content;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ccc;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 7px;
}

hr.divider {
  border: none;
  font-size: 150%;
  letter-spacing: 0.6em;
  margin-bottom: 42px;
  text-align: center;
}

hr.divider::before {
  content: "...";
}

footer > hr {
  margin-bottom: 16px;
}

a[role="button"] {
  cursor: pointer;
}

.highlight {
  border-left: 3px solid hsl(10,60%,50%);
  padding-left: 13px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

/* skip-nav not working well in single-page-app */
[data-reach-skip-nav-link] {
  display: none;
}

.slide-page-start,
.slide-page-end,
.slide-ignore-start,
.slide-ignore-end,
.slide-only,
.slide-title {
  display: none;
}

.slide-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.slide-canvas > section :first-child {
  margin-top: 0;
}

.slide-canvas > section :last-child {
  margin-bottom: 0;
}

.slide-canvas .slide-only {
  display: block;
}

.slide-title-page {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  text-align: center;
}

.slide-canvas .prism-code {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}

body.headless :not(article) > header {
  display: none;
}

body.headless main + footer {
  display: none;
}

@media screen and (min-width: 40em) {
  h1 > a {
    font-size: 32px;
  }

  .prism-code {
    border-radius: 10px;
  }
}

.slide-bounce-left {
  animation: bounce-left 200ms ease 0ms 4 alternate;
}

.slide-bounce-right {
  animation: bounce-right 200ms ease 0ms 4 alternate;
}

@keyframes bounce-left {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(32px)
  }
}

@keyframes bounce-right {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(-32px)
  }
}
