:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

a {
  cursor: pointer;
  display: block;
  padding: 2px;
}

svg {
  display: block;
}

.lucide {
  width: 1em;
  height: 1em;
  font-size: 1.25rem;
}

.lucide-moon {
  display: none;
}

a[data-theme="dark"] {
  .lucide-moon {
    display: block;
  }

  .lucide-sun {
    display: none;
  }
}
